.header-root {
  color: rgb(246, 248, 249);
  background: rgb(25, 43, 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 80px;
  padding: 0px 20px 0px 20px;
}
.header-root .profile-message {
  display: flex;
  justify-content: center;
}
.header-root .profile-message img {
  border: 2px solid white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.header-root .profile-message img:hover {
  transform: scale(1.2);
  border: 2px solid pink;
  cursor: pointer;
}
.header-root .profile-message label {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.header-root nav .nav-button {
  all: unset;
  padding: 20px 20px 20px 20px;
}
.header-root nav .nav-button:hover {
  color: pink;
  cursor: pointer;
}
.header-root nav .nav-icon {
  display: none;
}
@media only screen and (max-width: 1080px) {
  .header-root nav .nav-icon {
    display: block;
    margin: 0px 10px 0px 0px;
    font-size: 40px;
    color: rgb(246, 248, 249);
  }
  .header-root nav .nav-icon:hover {
    cursor: pointer;
    color: pink;
  }
  .header-root nav .nav-buttons-root {
    background-color: rgb(244, 250, 244);
    color: rgb(25, 43, 5);
    position: absolute;
    right: 30px;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 200px;
    border: 2px solid rgb(25, 43, 5);
    border-radius: 5px;
  }
  .header-root nav .nav-buttons-root-hide {
    display: none;
  }
}

footer {
  background-color: rgb(25, 43, 5);
  color: rgb(246, 248, 249);
  padding: 30px 10px 40px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
footer .social-media a {
  all: unset;
  cursor: default;
}
footer .social-media a i {
  color: rgb(246, 248, 249);
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
footer .footer-contact a {
  all: unset;
  border: 1px solid white;
  padding: 10px;
  color: rgb(246, 248, 249);
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}
footer .footer-contact a i {
  color: rgb(246, 248, 249);
  font-size: 15px;
}
@media screen and (min-width: 1080px) {
  footer footer .social-media {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  margin: 0;
  background-color: rgb(252, 253, 251);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contact-heading {
  font-size: large;
  padding: 40px 0 40px 0;
  margin: 0;
}
@media screen and (max-width: 1080px) {
  main .contact-heading {
    padding: 40px 0 0 0;
  }
}
main .body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .contact-me-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  max-width: 1500px;
  width: 90vw;
  padding: 30px 0px 50px 0px;
}
@media screen and (max-width: 1080px) {
  main .contact-me-container {
    flex-direction: column;
    align-items: center;
  }
}
main .contact-me-container .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact-me-container .image-container img {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 100%;
}
main .contact-me-container .contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1080px) {
  main .contact-me-container .contact-details-container {
    padding: 0 0 40px 0;
    align-items: center;
  }
}
main .contact-me-container .contact-details-container .contact-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px 0;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  main .contact-me-container .contact-details-container .contact-item {
    align-items: center;
  }
}
main .contact-me-container .contact-details-container .contact-item .contact-title {
  display: flex;
}
main .contact-me-container .contact-details-container .contact-item i {
  font-size: 25px;
  padding-right: 10px;
}
main .contact-me-container .contact-details-container .contact-item a {
  color: rgb(25, 43, 5);
}
main .contact-me-container .contact-details-container .contact-item a i {
  font-size: 40px;
}
main .contact-me-container .contact-details-container .social-items {
  padding: 0px 0 10px 0;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1080px) {
  main .contact-me-container .contact-details-container .social-items {
    justify-content: center;
  }
}
main .contact-me-container .contact-details-container .social-items .contact-title {
  display: flex;
}
main .contact-me-container .contact-details-container .social-items i {
  font-size: 25px;
  padding-right: 10px;
}
main .contact-me-container .contact-details-container .social-items a {
  color: rgb(25, 43, 5);
}
main .contact-me-container .contact-details-container .social-items a i {
  font-size: 40px;
}
main .contact-me-container .contact-details-container .download-tag {
  display: flex;
  padding: 30px 0px 0px 0px;
}
main .contact-me-container .contact-details-container .download-tag a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(25, 43, 5);
  color: white;
  border-radius: 5px;
}
main .contact-me-container .contact-details-container .download-tag a:hover {
  color: pink;
  text-decoration: none;
}
main .contact-form-container {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  width: 100%;
  padding: 20px;
}
main .contact-form-container .contact-form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  display: column;
  align-items: flex-end;
}
@media screen and (max-width: 1080px) {
  main .contact-form-container .contact-form {
    padding: 30px 0px 30px 0px;
    width: 100%;
  }
}
main .contact-form-container .contact-form textarea {
  resize: none;
}
main .contact-form-container .contact-form .form-input-container {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}
main .contact-form-container .contact-form .btn-div button {
  all: unset;
  background-color: rgb(25, 43, 5);
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}/*# sourceMappingURL=contact.css.map */