@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

// <!-- graphical component and semantic HTML by used footer element --> //
footer {
    background-color: $primary-color;
    color:$nav-button-color;
    padding: 30px 10px 40px 10px;
    text-align:center;

    display: flex;
    flex-direction: column;
    align-items: center;
    .social-media {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        a {
            all: unset;
            cursor: default;
            i {
                color: $nav-button-color;
                font-size: 40px;
                padding: 10px;
                margin: 10px;
                cursor: pointer;
            }
        }
    }
    .footer-contact {
        a {
            all: unset;
            display: inline-block;
            border: 2px solid white;
            padding: 15px 30px;
            color: $nav-button-color;
            text-decoration: none;
            border-radius: 25px;
            background: lighten($primary-color, 10%);
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

            &:hover {
                background-color: lighten($primary-color, 20%);
                // color: darken($nav-button-color, 20%);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            }

            i {
                color: $nav-button-color;
                font-size: 20px;
                margin-left: 10px;
                transition: color 0.3s;

                &:hover {
                    color: lighten($nav-button-color, 10%);
                }
            }
        }
    }

    @media screen and (min-width: $large) {
        footer {
            .social-media {
                width: 40%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}