$primary-color:rgb(34, 85, 23);
$nav-button-color: rgb(255, 255, 255);
$primary-background:rgb(240, 253, 240);
$secondary-background: rgb(220, 243, 220);
$accent-color: rgb(144, 238, 144);
$text-color: rgb(51, 51, 51);
$nav-color:  rgb(230, 245, 230);